<link rel="stylesheet" href="sidebar.component.css">

<nav role="listbox" class="nav">
 <!--  <a [routerLink]="['Landing']" class="nav__item">
    <paper-icon-item>
      <iron-icon icon="social:group" item-icon></iron-icon>
      Home
    </paper-icon-item>
  </a> -->
  <!-- <a [routerLink]="['Books']" class="nav__item">
    <paper-icon-item>
      <iron-icon icon="av:library-books" item-icon></iron-icon>
      Books
    </paper-icon-item>
  </a> -->
  <!-- <a [routerLink]="['Projects']" class="nav__item">
    <paper-icon-item>
      <iron-icon icon="icons:code" item-icon></iron-icon>
      Projects
    </paper-icon-item>
  </a>  -->

    <a target="_blank" href="http://docdro.id/XZIVr2Y"><paper-icon-item>Resume</paper-icon-item></a>




  <a target="_blank" href="http://www.github.com/danhklein" class="nav__item">
    <paper-icon-item>Github</paper-icon-item>
  </a>
  <a target="_blank" href="http://www.linkedin.com/in/danhirschklein" class="nav__item">
    <paper-icon-item>LinkedIn</paper-icon-item>
  </a>
  <paper-icon-item class="nav__item">Denver, CO</paper-icon-item>
  <a href="tel:+12488213104" class="nav__item">
    <paper-icon-item>
     <!--  <iron-icon icon="icons:perm-phone-msg"></iron-icon> -->
      (248) 821-3104
    </paper-icon-item>
  </a>
  <a href="mailto:danhirschklein@gmail.com" class="nav__item">
    <paper-icon-item>
    danhirschklein@gmail.com
    </paper-icon-item>
  </a>
  <paper-icon-item>This site was built using Angular 2, Skeleton.css, ES6 and Material Design. Click an image to learn more about projects.</paper-icon-item>

</nav>
